* {
    margin: 0;
    padding: 0;
}

.header{
    font-weight: bold;
}

button{
    background-color: rgb(128, 128, 243); 
    border: none; 
    padding: 0.3vh 1vh; 
    border-radius: .5vh;
}

button:hover{
    background-color: red;
}

.header:hover{
    color: blue;
    text-decoration: underline;
}
