body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}

.LOGO{
    width: 100px;
    height: 100px;
    
}

ul{
    margin: 0;
    width: 100px;
    height: 50px;
    padding-left: 0;
    padding-top: 12.5%;
    list-style: none;
    text-align: center;
    vertical-align: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    padding-right: 5px;
}

footer{
    width: 100%;
    bottom: 0;
}
.txtfoot{
    margin: auto;
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.Jesusuimg{
    border: 10px solid coral;
    width: 250px;
    height: 250px;
}

.Jesususetting{
    display: inline-flex;
    align-items: center;
    padding: 20px 20px;
}
.Jesusgrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}